

.headerr {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(/img/estac.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

.headerr .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

.headerr .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

.headerr .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    .headerr .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    .headerr .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 35px;
        font-style: italic;
        line-height: 40px;
    }

    .headerr .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 47px;
        font-weight: 700;
        line-height: 75px;
    }
}
@media(max-width:520px){
    .headerr .intro-text .intro-heading {
        font-size: 37px; /*tamanho da  fonte*/
    
        
    }
}


